.field {
  margin-bottom: 12px;
}

.field label {
  display: block;
  font-size: 14px;
  color: #151415;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 15px;
  background-color: #39e664;
  color: #fff;
  border: none
}